body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://st2.depositphotos.com/4502047/8010/v/950/depositphotos_80109462-stock-illustration-brewery-factory-background.jpg);
  background-size: cover;
}
